/**
 * 	Style Sheet for SpinnerJs jQuerry plugin
 * 	Author - Gihan.D Wijerathna
 * 	Version - 1.0v
 * 	Last Modified Date - july 24th 2013
 */
.spinnerjs-modal-wrapper{
	position: absolute;
	background-color: black;
	z-index: 10000;
}

.spinnerjs-modal{
	position: absolute; 
	z-index: 10002;
	background: #ffffff;
	border-radius:5px;
}

.spinnerjs-spinner{
	position: absolute; 
	z-index: 10003;
}

.spinnerjs-text{position: absolute; font-family: Arial, Helvetica, sans-serif; font-size: 11px; left: 10px; top: 5px; z-index: 10004; color:rgb(90, 86, 86);}
